body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(0,255,78,0.23);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#artist-lookup
{
    margin-top:40px;
}

#artist-input-group 
{
    padding:10px 0 10px 0;
    display: flex;
    justify-content: space-between;
}


#artist-input
{
    width:80%;
}

#artists-display
{
    border:dotted;
    border-width:2px;
    border-color:forestgreen;
    padding:10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
