@*This page is not currently in use*@

@model RecommendationsViewModel

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@*Display recommendations by showing their images*@
<div id="albums-display">
    @{
        int count = Model.Recommendations.Tracks.Length;
        @for (int i = 0; i < count; i++)
        {
            <div class="artist-container">
                <img class="album-image" src="@Model.Recommendations.Tracks[i].Album.Images[0].URL">
            </div>
        }
      }
</div>
