@{
    ViewData["Title"] = "Raul Chirinos Coya";
}
<h2>@ViewData["Title"]</h2>

<address>
    Bollmoravägen 8<br />
    13540 Tyresö<br />
    Sweden<br />
    <abbr title="Phone">P:</abbr>
    +46 073 993 1 993
</address>

<address>
    <strong>Email:</strong> <a href="mailto:rrchirinosc@gmailcom">rrchirinosc@gmail.com</a><br />
</address>
