@model ErrorViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="jumbotron jumbotron-fluid" id="app-intro">
        <p class="lead">Welcome to <b>XpandUrMusic</b>.</p>
        <p class="lead">
            We are dedicated to give you album recommendations based on your favorite artist and preferred musical genre with the possibility of filtering the recommendations by decade.
            <br />This is all possible with the help of the Spotify&reg; music library.
        </p>
    </div>

    @*Find artist input and trigger*@
    <div id="artist-lookup">
        <h3>Find your favorite artist</h3>

        <div id="artist-input-group">
            <input class="form-control" data-val="true" data-val-required="*" type="text" id="artist-input" placeholder="Enter artist name">
            <button class="btn btn-default btn-sm" id="artist-find">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find Artist
            </button>
        </div>
    </div>

    @*Fetched artists container*@
    <div id="artists-area">
        <div id="artists-display"></div>
    </div>

    <hr />

    @*List of available genres table*@
    <div id="genres-container">
        <h3>Preferred musical genres</h3>
        <div id="musical-genres"></div>
    </div>

    @*Get recommendations button*@
    <div>
        <Form action="@Url.Action("Recommendations", "Home")" id="show-recommendations" method="post">
            <input type="hidden" name="artistsIDs" id="artists" />
            <input type="hidden" name="genresIDs" id="genres" />
            <button id="get-recommendations" class="btn btn-default btn-sm pull-right" disabled>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Show Recommendations
            </button>
        </Form>
    </div>
</div>




